*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(136, 0, 255)46) 255, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
#card{
    height: 350px;
    width: 260px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
#instastorys{

    height: 100px;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#instastorys::-webkit-scrollbar{
    display: none;
}
.story{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 3px;
}
.story img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-color: hotpink;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: none;
}

h2{
    text-align: center;
}